.mainContainer {
  padding: 0;
}
.heroCont {
  height: 50vh;
  background-image: url("../images/mainHeroMobile.jpg");
  background-size: 457.5px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  /* border-top: 0.3rem; */
  /* border-bottom: 0.3rem; */
  /* box-shadow: 1rem 1rem 5rem #555 inset; */
}
.heroPic {
  height: 100%;
  width: auto;
  transition: opacity 1s;
}

/* Shop Feature */
.subHeaderCont {
  width: 80vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  /* border-bottom: #bbb9b9 0.1rem solid; */
  margin: 0 auto;
}
.subHeaderCopy {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 300;
  color: rgb(90, 89, 88);
}
.subCopy {
  font-size: 0.8rem;
  text-align: center;
  color: rgb(90, 89, 88);
}
.productsHeader {
  width: 100%;
}

/* Mobile Main Rooms */
.livingRoomMobCont {
  width: 90vw;
  margin: 0 auto;
}
.livingRoomPicMob {
  width: 90vw;
}
.mainRoomPicTitle {
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
}
.mainRoomPicSub {
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 0;
}
.shopNow {
  text-align: center;
  font-size: 0.6rem;
  font-weight: 600;
  padding: 0.4rem;
  width: 7rem;
  background-color: rgb(9, 9, 140);
  color: white;
  margin: 0 auto;
  margin-bottom: 3rem;
}

/*Sales Banner */
.salesBanner {
  background-image: url("../images/pexels-dids-3844788-disBG.jpg");
  background-size: cover;
  text-align: center;
  padding: 1.8rem;
  margin-top: 4rem;
}
.salesBannerCopy {
  background-color: white;
  margin-top: 1rem;
}
.superSale {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  margin: 1rem;
  font-size: 1.5rem;
  color: rgb(215, 168, 11);
  background-color: white;
  margin-top: -1rem;
}
.discountPic {
  width: 70vw;
}
.bannerEveryday {
  background-color: #c6a308;
  text-align: center;
  color: white;
  padding: 0.2rem;
  margin: 0;
  margin-bottom: 4rem;
}

/* mailinglist */
.mailinglistCont {
  margin: 0 auto;
  text-align: center;
  background-color: #e7e7e7;
}
.mailinglist {
  width: 85%;
  border-color: #555;
  border-style: solid;
  border-width: 0.05rem;
  padding: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Carousel */
.favHeader {
  /* text-align: center; */
  color: rgb(90, 89, 88);
  font-weight: 200;
  font-size: 1.2rem;
  margin-top: 4rem;
  padding-left: 1rem;
}
.carouselCont {
  width: 100%;
  height: 43vh;
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;
  margin-top: 1rem;
  border-bottom: #bbb9b9 0.1rem solid;
  bottom: 50%;
  padding-bottom: 3rem;
}
.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch; /* For smooth scrolling on iOS */
  padding-bottom: 1rem;
}
.carouselInner {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 90%;
  /* scroll-snap-align: start; */
}

.carouselItem {
  flex: 0 0 100%;
  scroll-snap-stop: always;
  height: 50vh;
}

.carousel img {
  max-width: 90%;
  max-height: 45vh;
}
.caroItemTitle {
  color: rgb(90, 89, 88);
  margin: 0;
  font-size: 0.7rem;
  font-weight: bold;
  text-decoration: underline;
}
.caroFavCopy {
  font-size: 0.6rem;
  max-width: 50vw;
  margin: 0.2rem;
}
.favFreeShipping {
  margin: 0;
  font-size: 0.6rem;
  color: red;
  margin: 0.2rem;
  font-style: bold;
}

@keyframes scroll {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  25% {
    transform: translateX(-100%);
  }
  40%,
  45% {
    transform: translateX(-200%);
  }
  60%,
  65% {
    transform: translateX(-300%);
  }
  80%,
  85% {
    transform: translateX(-400%);
  }
}
/* Categories */
.categoryCont {
  width: 95vw;
  margin: 0.5rem;
  margin: 0 auto;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.sqicon1,
.sqicon2,
.sqicon3,
.sqicon4,
.sqicon5 {
  width: 5rem;
  margin: 0 auto;
  padding: 0.4rem;
}
.sofaCont,
.lampCont,
.tableCont,
.accessCont,
.homeOfficeCont {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-color: rgba(211, 211, 205, 0.3);
  color: rgb(70, 69, 69);
  margin-bottom: 1.5rem;
}
.copyCont {
  align-self: center;
}
.sofaSQCopy,
.lampSQCopy,
.tableSQCopy,
.accessSQCopy,
.homeOfficeSQCopy {
  font-size: 0.7rem;
  padding-left: 0.4rem;
  font-style: italic;
}
.viewItem {
  font-size: 0.6rem;
  padding-left: 0.4rem;
  font-family: "Times New Roman", Times, serif;
}

/* Seau de Boue intro */
.welcomeCont {
  background-image: url("../images/welcomeBG.jpg");
  opacity: 0.8;
  min-height: 35vw;
  height: 65vh;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  outline: 0.07rem white solid;
  outline-offset: -1.6rem;
  margin-bottom: 2rem;
  margin-top: 4rem;
}
.welcomeHeader {
  text-align: center;
  padding-top: 2rem;
  color: white;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 0;
}
.introCont {
  display: grid;
}
.intro {
  font-size: 0.8rem;
  padding: 2rem;
  font-weight: 400;
  text-align: center;
  color: white;
  margin: 0;
}
.logo {
  margin: 0 auto;
}
/* Favorites */
/* .favoritesCont {
  display: grid;
}
.seasonalPicks {
  text-align: center;
  color: rgb(90, 89, 88);
  font-weight: 200;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  padding-top: 1.5rem;
}
.outdoorBedPic {
  width: 90%;
  margin: 0 auto;
}
.outdoorBedCopy {
  text-align: center;
  font-size: 0.6rem;
  margin-top: 0.2rem;
  font-weight: 400;
  padding-bottom: 3rem;
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
}
.outdoorChairPic {
  width: 90%;
  margin: 0 auto;
}
.outdoorChairCopy {
  text-align: center;
  font-size: 0.6rem;
  margin-top: 0.2rem;
  font-weight: 400;
  padding-bottom: 3rem;
  width: 90%;
  margin: 0 auto;
  padding-top: 1rem;
} */

/* Free shipping banner */
.freeShippingCont {
  display: grid;
  margin: 0 auto;
}
.freeShipPic {
  width: 90%;
  margin: 0 auto;
}
.freeShip {
  font-family: "Times New Roman", Times, serif;
  background-color: #555;
  color: white;
  font-size: 1.2rem;
  outline: 0.09rem white solid;
  outline-offset: -1rem;
  text-align: center;
  padding: 1.8rem;
  margin: 0;
  margin-top: -0.2rem;
  margin-bottom: 3rem;
}
