.cancelCont {
  margin: 3rem auto;
  width: 60%;
  text-align: center;
  font-size: 2.5rem;
  padding: 2rem;
  color: rgb(60, 60, 60);
  border-radius: 0.2rem;
  height: 100%;
  border: 0.1rem rgb(60, 60, 60) solid;
}
.cancelCont h1 {
  font-size: 3rem;
  margin: 0 0 1rem 0;
}
.backToShopping:visited {
  color: rgb(60, 60, 60);
}
