.cartCont {
  width: 90vw;
  margin: 0.5rem auto;
}

.cartHeader {
  width: inherit;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.cartHeader h2 {
  padding: 0;
  margin-bottom: 0.2rem;
}

.line {
  border: none;
  border-bottom: 2px solid lightgray;
  width: 100%;
  margin: 0.3rem 0 1rem 0;
}

/* .cartMenu li a {
  text-decoration: none;
  color: #000;
  transition: all 0.5s linear;
}

.cartMenu li a:hover {
  font-weight: 500;
} */

.product {
  margin: 0;
  width: inherit;
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-template-columns: max-content 1fr;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.product img {
  max-height: 100%;
  object-fit: cover;
  width: 6.5rem;
  height: 7rem;
}

.productDescriptionCont {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.productDescription {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.15rem;
}
.productQtyRow {
  width: inherit;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.productQuantity,
.productRow,
.productQtyCont {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.productHeadings {
  display: none;
}
/*
.productQuantity {
  gap: 0.5rem;
}

.orderTotal {
  display: flex;
  gap: 2rem;
} */

/*  mobile landscape */
@media (min-width: 30rem) {
  .productDescriptionCont {
    width: inherit;
    display: flex;
    gap: 1rem;
    flex-flow: column nowrap;
    justify-content: center;
  }
  .productQtyRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: 1rem;
  }
  .productQtyCont {
    gap: 5rem;
  }
}
@media (min-width: 40rem) {
  .productHeadings,
  .productDescriptionCont {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 48% 20% 20% 18%;
  }

  .product {
    width: inherit;
    display: grid;
    grid-auto-flow: row;
    justify-content: space-between;
    align-items: center;
  }

  .unitPrice {
    display: none;
  }

  .productDescriptionCont {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
  }
  .productQtyRow {
    display: grid;
    margin-left: -4rem;
    grid-auto-flow: column;
    justify-content: space-between;
    gap: 6rem;
  }
}
