.cartCont {
  width: 90%;
  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(60, 60, 60);
}
.cartButtonsCont {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.cartHeader {
  align-items: flex-start;
  margin-top: 2.5rem;
}
.cartHeader h2 {
  padding: 0;
  margin-bottom: 0.2rem;
  font-size: 1rem;
}
.product {
  margin: 0;
  width: 100%;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  grid-column: 1/-1;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  padding-bottom: 1rem;
  border-bottom: 0.08rem gray solid;
}
.productImage {
  align-self: center;
  grid-column: 1/3;
  grid-row: 1/3;
}
.itemNameHeader,
.itemPriceHeader,
.itemQtyHeader {
  display: none;
}

.productImage img {
  width: 100%;
}
.itemName {
  font-weight: bold;
}
.productDescription {
  grid-column: 3/4;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  font-size: 0.8rem;
}
.removeBtn {
  margin-bottom: 0.5rem;
  font-size: 0.6rem;
  align-self: end;
}
.productRow {
  grid-column: 4/5;
  grid-row: 1/2;
  font-size: 0.8rem;
  align-self: center;
  text-align: center;
}
.checkOut {
  margin-top: 2rem;
  text-align: center;
}
.checkOut a {
  color: white;
  width: 40%;
  background-color: rgb(30, 164, 30);
  padding: 0.4rem;
  font-weight: bold;
  border-radius: 0.2rem;
}
.productQtyCont {
  font-size: 0.7rem;
  font-weight: 500;
  grid-column: 4/5;
  grid-row: 2/3;
  font-size: 0.7rem;
  align-self: end;
}

.productHeadings {
  display: none;
}

.removeBtn {
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.45);
  color: rgba(0, 0, 0, 0.65);
}

.removeBtn:hover {
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.95);
  color: rgba(0, 0, 0, 0.95);
}
.orderSummaryCont {
  grid-column: 1/-1;
  grid-row: 3/5;
  font-size: 0.8rem;
}
.orderCont {
  display: grid;
  gap: 2rem;
}

.orderSummary {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 0.5rem 2rem 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem rgb(197, 194, 194);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.orderSummary h3 {
  position: relative;
}

.orderSummary h3::before {
  content: "";
  display: block;
  border-bottom: 2px solid rgb(136, 136, 136);
  background: black;
  width: 60%;
  position: absolute;
  left: 0;
  margin-top: 2rem;
}

.orderRow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.85);
  font-size: 0.8rem;
}

.total {
  font-weight: bold;
  font-size: 0.9rem;
}

.checkoutBtn {
  padding: 0.7rem 1rem;
  color: rgba(255, 255, 255, 0.75);
  background-color: rgba(24, 161, 24, 0.75);
}

/*  mobile landscape */
@media (max-width: 52rem) and (orientation: landscape) {
  .cartHeader {
    margin-top: 3.5rem;
  }
  .productDescription {
    align-self: center;
    grid-column: 3/5;
    grid-row: 1/2;
  }
  .removeBtn {
    margin-bottom: 0.5rem;
    font-size: 0.6rem;
    align-self: auto;
  }
  .productRow {
    grid-column: 4/5;
    grid-row: 2/3;
    font-size: 0.8rem;
    align-self: center;
  }

  .productQtyCont {
    font-size: 0.7rem;
    align-self: end;
  }
}
/*Desktop*/
@media (min-width: 46rem) {
  .cartCont {
    width: 70%;
  }

  .cartHeader h2 {
    padding: 0;
    margin-bottom: 0.2rem;
    font-size: 1rem;
  }

  .product {
    margin: 0;
    width: 100%;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    grid-column: 1/-1;
    grid-row: 1/3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr;
    padding-bottom: 1rem;
    border-bottom: 0.08rem gray solid;
  }
  .productImage {
    align-self: center;
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .itemNameHeader {
    display: block;
    margin: 0;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 0.7rem;
    text-align: center;
    align-self: center;
    font-weight: 400;
  }
  .itemPriceHeader {
    display: block;
    grid-column: 3/4;
    grid-row: 1/2;
    font-size: 0.7rem;
    text-align: center;
    font-weight: 400;
  }
  .itemQtyHeader {
    display: block;
    grid-column: 4/5;
    grid-row: 1/2;
    font-size: 0.7rem;
    text-align: center;
    font-weight: 400;
  }
  .productImage img {
    width: 100%;
  }
  .productDescription {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    text-align: center;
    align-self: center;
    height: 100%;
  }

  .p .removeBtn {
    margin-bottom: 0.5rem;
    font-size: 0.6rem;
  }
  .productRow {
    grid-column: 3/4;
    grid-row: 2/3;
    text-align: center;
    align-self: end;
  }

  .productQtyCont {
    font-size: 0.7rem;
    font-weight: 500;
    grid-column: 4/5;
    grid-row: 2/3;
    text-align: center;
  }

  .productHeadings {
    display: none;
  }

  .removeBtn {
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.45);
    color: rgba(0, 0, 0, 0.65);
  }

  .removeBtn:hover {
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.95);
    color: rgba(0, 0, 0, 0.95);
  }
  .orderSummaryCont {
    grid-column: 1/-1;
    grid-row: 3/5;
    font-size: 0.8rem;
  }
  .orderCont {
    display: grid;
    grid-auto-flow: row;
    gap: 2rem;
  }
  .orderSummary {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.5rem 0.5rem 2rem 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.1rem rgb(197, 194, 194);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .orderSummary h3 {
    position: relative;
  }

  .orderSummary h3::before {
    content: "";
    display: block;
    border-bottom: 2px solid rgb(136, 136, 136);
    background: black;
    width: 60%;
    position: absolute;
    left: 0;
    margin-top: 2rem;
  }

  .orderRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.85);
    font-size: 0.8rem;
  }

  .total {
    font-weight: bold;
    font-size: 0.9rem;
  }

  .checkoutBtn {
    padding: 0.7rem 1rem;
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(24, 161, 24, 0.75);
  }
}
