/* Categories */
.categoryCont {
  width: 95vw;
  margin: 0.5rem;
  margin: 0 auto;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.sqicon1,
.sqicon2,
.sqicon3,
.sqicon4,
.sqicon5 {
  width: 5rem;
  margin: 0 auto;
  padding: 0.4rem;
}
.sofaCont,
.lampCont,
.tableCont,
.accessCont,
.homeOfficeCont {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  color: rgb(70, 69, 69);
  margin-bottom: 1.5rem;
}
.sofaCont img,
.lampCont img,
.tableCont img,
.accessCont img,
.homeOfficeCont img {
  width: 4rem;
  border-radius: 0.2rem;
}
.copyCont {
  align-self: center;
}
.sofaSQCopy,
.lampSQCopy,
.tableSQCopy,
.accessSQCopy,
.homeOfficeSQCopy {
  font-size: 0.7rem;
  padding-left: 0.4rem;
  font-style: italic;
}
.viewItem {
  font-size: 0.6rem;
  padding-left: 0.4rem;
  font-family: "Times New Roman", Times, serif;
}

/* for desktop */
@media (min-width: 1024px) {
  /* Categories */
  .categoryCont {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    padding-bottom: 3rem;
  }
  .sqicon1,
  .sqicon2,
  .sqicon3,
  .sqicon4,
  .sqicon5 {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .sofaCont,
  .lampCont,
  .tableCont,
  .accessCont,
  .homeOfficeCont {
    display: block;
    margin-left: 0;
    margin-right: 0;
    background-color: none;
    width: 100%;
    text-align: center;
  }

  .sofaSQCopy,
  .lampSQCopy,
  .tableSQCopy,
  .accessSQCopy,
  .homeOfficeSQCopy {
    font-size: 0.7rem;
    padding-left: 0.4rem;
    font-style: italic;
  }
}
