/* Carousel */

.favHeader {
  color: rgb(60, 60, 60);
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  padding-bottom: 2rem;
  font-size: 1.2rem;
  margin-left: 0;
  text-align: center;
}

.carouselCont {
  width: 90vw;
  height: 50%;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding-bottom: 3rem;
  margin: 0 auto;
}
.carousel {
  padding-bottom: 1rem;
}

.carouselItem {
  height: 50vh;
  width: 95%;
  margin: 0 auto;
}

.carouselCont img {
  width: 100%;
  margin: 0 auto;
  border-radius: 0.2rem;
}
.caroItemTitle {
  color: rgb(60, 60, 60);
  margin: 0;
  font-size: 0.7rem;
  font-weight: bold;
  padding-top: 0.5rem;
}
.caroFavCopy {
  text-align: center;
  font-size: 0.6rem;
  font-weight: 600;
  padding: 0.4rem;
  width: 6rem;
  background-color: rgb(60, 60, 60);
  color: white;
  margin: 0 auto;
  margin-top: 0.5rem;
  border: none;
  border-radius: 0.2rem;
}
/*  mobile landscape */
@media (max-width: 940px) and (orientation: landscape) {
  .carouselCont {
    width: 60vw;
  }
  .caroFavCopy {
    background-color: white;
    color: rgb(60, 60, 60);
  }
}
/* for desktop */
@media (min-width: 46rem) {
  .favHeader {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    padding-left: 0;
    font-size: 1.5rem;
    font-weight: 200;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    position: relative;
    top: 40%;
  }

  .carouselCont {
    width: 90%;
    height: 100%;
    border-bottom: 0;
    margin: 0 auto;
    text-align: center;
    border-bottom-color: none;
    border-bottom: none;
    background-image: url("../images/Favpexels-yan-krukau-5793642.jpg");
    min-height: 35vw;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 0.2rem;
  }
  .carousel {
    padding: 1.5rem;
    background-color: rgba(44, 40, 43, 0.3);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    align-items: center;
  }

  .carouselItem {
    height: 100%;
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border-color: transparent;
    border-width: 0.1rem;
    border-style: solid;
    background-color: rgb(240, 234, 234, 0.4);
    padding-bottom: 0.2rem;
  }
  .carousel img {
    width: 100%;
    border-radius: 0;
  }

  .caroItemTitle {
    text-align: center;
    width: 80%;
    min-width: 35%;
    font-size: 0.5rem;
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 1rem;
    color: rgb(60, 60, 60);
  }

  .caroFavCopy {
    padding: 0;
    border: none;
    width: 60%;
    height: 1rem;
    font-size: 0.4rem;
    align-self: last baseline;
    border-radius: 0.2rem;
  }

  .favFreeShipping {
    display: none;
  }
  .favImages,
  .caroItemTitle,
  .caroFavCopy {
    margin: 0 auto;
  }
}
