/* Carousel */
.favHeader {
  color: rgb(90, 89, 88);
  font-weight: 300;
  font-size: 1rem;
  margin-top: 2rem;
  padding-left: 1rem;
  width: 90%;
}
.carouselCont {
  width: 100%;
  height: 55vh;
  overflow: hidden;
  position: relative;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding-bottom: 3rem;
}
.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 1rem;
}
.carouselInner {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 90%;
}

.carouselItem {
  flex: 0 0 100%;
  scroll-snap-stop: always;
  height: 50vh;
}

.carousel img {
  max-width: 90%;
  max-height: 45vh;
}
.caroItemTitle {
  color: rgb(90, 89, 88);
  margin: 0;
  font-size: 0.7rem;
  font-weight: bold;
  text-decoration: underline;
}
.caroFavCopy {
  text-align: center;
  font-size: 0.6rem;
  font-weight: 600;
  padding: 0.4rem;
  width: 6rem;
  background-color: rgb(72, 72, 74);
  color: white;
  margin: 0 auto;
  margin-top: 0.5rem;
}
.favFreeShipping {
  margin: 0;
  font-size: 0.6rem;
  color: red;
  margin: 0.2rem;
  font-style: bold;
}

@keyframes scroll {
  0%,
  100% {
    transform: translateX(0);
  }
  20%,
  25% {
    transform: translateX(-100%);
  }
  40%,
  45% {
    transform: translateX(-200%);
  }
  60%,
  65% {
    transform: translateX(-300%);
  }
  80%,
  85% {
    transform: translateX(-400%);
  }
}
/*  mobile landscape */
@media (max-width: 844px) and (orientation: landscape) {
  .carouselInner {
    width: 50%;
  }
}
/* for desktop */
@media (min-width: 1024px) {
  .favHeader {
    width: 40%;
    height: 100%;
    margin: 0 auto;
    padding-left: 0;
    font-size: 1.7rem;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    position: relative;
    top: 40%;
  }

  .carouselCont {
    width: 90%;
    height: 100%;
    border-bottom: 0;
    margin: 0 auto;
    text-align: center;
    border-bottom-color: none;
    border-bottom: none;
    background-image: url("../images/interior-design-332210_1280.jpg");
    min-height: 35vw;
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .carousel {
    padding: 0;
    overflow: hidden;
    background-color: rgba(228, 161, 46, 0.3);
  }
  .carouselInner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.1rem;
    width: 80%;
    min-width: 35vw;
    height: 80%;
    margin: 0 auto;
    padding: 2rem;
    align-self: center;
  }

  .carouselItem {
    height: 80%;
    margin: 0 auto;
    width: 90%;
    min-width: 35%;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .carousel img {
    width: 100%;
    max-width: 100%;
    box-shadow: 0.5rem 0.4rem 0.8rem 0.1rem #644203;
    margin-bottom: 1rem;
  }

  .caroItemTitle {
    text-align: center;
    width: 80%;
    min-width: 35%;
    font-size: 0.7rem;
    text-decoration: none;
    padding-bottom: 1rem;
    color: white;
  }

  .caroFavCopy {
    padding: 0;
    border: none;
    width: 60%;
    height: 1rem;
    font-size: 0.4rem;
    background-color: white;
    color: #757474;
    align-self: flex-end;
  }

  .favFreeShipping {
    display: none;
  }
  .favImages,
  .caroItemTitle,
  .caroFavCopy,
  .favFreeShipping {
    margin: 0 auto;
  }
}
