.navbar {
  position: relative;
}
.navbarContainer {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 0.7rem;
  color: rgb(60, 60, 60);
}
.logo {
  font-size: 1rem;
  color: rgb(60, 60, 60);
}
.menuIcon {
  display: block;
  cursor: pointer;
  border: none;
  text-align: right;
  padding: 0;
  padding-top: 0.1rem;
  background-color: transparent;
}
.menuIcon img {
  width: 1rem;
}

.navElements ul {
  display: flex;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 96vw;
}

.navElements ul,
.navElements a {
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.navElements ul a {
  font-size: 0.85rem;
  padding: 0.2rem 0.3rem;
}

/* a:hover, */
.navElements a:focus,
.navElements a:visited {
  text-decoration: none;
  color: white;
  box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.75);
}

.navElements ul a.active {
  position: relative;
}

.navElements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

.navElements {
  position: absolute;
  right: 0;
  top: 2rem;
  margin-left: 1rem;
  transition: all 0.3s ease-in;
}

.navElements.close {
  width: 0px;
}

.navElements.active {
  width: 100vw;
}

.navElements ul {
  display: flex;
  flex-direction: column;
}

.navElements ul li {
  margin-right: unset;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.navElements ul li:not(:last-child) {
  margin-right: 0px;
}

.cartPic {
  position: relative;
  width: 1rem;
}
.cartIconBlack {
  display: none;
  width: 1rem;
}
.cartIconWhite {
  width: 3rem;
}
.cartPic .cartItemCount {
  position: absolute;
  top: -1.1rem;
  right: 0.9rem;
  background-color: rgb(60, 60, 60);
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 8px;
}

@media (min-width: 46rem) {
  .navbar {
    margin: 1rem 0;
  }
  .navbarContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .menuIcon {
    display: none;
  }
  .cartIconBlack {
    display: unset;
  }
  .cartIconWhite {
    display: none;
  }
  .cartPic .cartItemCount {
    top: -1rem;
    right: -0.5rem;
    font-size: 12px;
  }
  .navElements {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: auto;
  }
  .navElements ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: unset;
    width: inherit;
    background-color: unset;
    grid-column: 2/3;
    grid-row: 1/2;
    margin: 0;
  }

  .navElements ul li {
    margin-right: unset;
    padding-top: unset;
    padding-bottom: unset;
  }

  .navElements ul li a {
    color: rgb(60, 60, 60);
  }

  .navElements ul li:not(:last-child) {
    margin-right: 1rem;
  }
  .navElements a:focus,
  .navElements a:visited {
    color: rgb(60, 60, 60);
  }
  .navElements.close {
    width: unset;
  }
}
