.mainContainer {
  padding: 0;
}

.heroCont {
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  width: 90%;
}
.mainHeaderPic {
  width: 100%;
}

/* Shop Feature */
.subHeaderCont {
  width: 70vw;
  padding-bottom: 2rem;
  margin-bottom: 1rem;
  margin: 0 auto;
}

.subCopy {
  font-size: 1rem;
  text-align: center;
  color: rgb(60, 60, 60);
}
.subCopy2 {
  font-size: 0.8rem;
  text-align: center;
  color: rgb(60, 60, 60);
}
.furnHeader {
  font-weight: 600;
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 1rem;
  padding-left: 1rem;
  color: rgb(60, 60, 60);
}
.productsHeader {
  width: 100%;
}
.deskMainHeaderPic {
  display: none;
}

/* Mobile Main Rooms */
.roomMobCont {
  width: 90vw;
  margin: 0 auto;
}
.roomPicMob {
  width: 90vw;
  border-radius: 0.2rem;
}
.roomMobCont a {
  color: rgb(60, 60, 60);
}
.roomMobCont a:visited {
  color: rgb(60, 60, 60);
}
.mainRoomPicTitle {
  font-weight: 600;
  text-align: center;
  margin-bottom: 0;
}
.mainRoomPicSub {
  text-align: center;
  font-size: 0.8rem;
  font-style: italic;
  margin-top: 0;
}
.shopNow {
  text-align: center;
  font-size: 0.6rem;
  font-weight: 600;
  padding: 0.4rem;
  width: 7rem;
  background-color: rgb(60, 60, 60);
  color: white;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-radius: 0.2rem;
}

/* Mobile Sales Banner */
.salesBanner {
  background-image: url("../images/pexels-dids-3844788-disBG.jpg");
  background-size: cover;
  text-align: center;
  padding: 1.8rem;
  margin: 4rem 0 4rem 0;
}
.salesBannerCopy {
  background-color: white;
  margin-top: 1rem;
}
.superSale {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  margin: 1rem;
  font-size: 1.5rem;
  color: rgb(215, 168, 11);
  background-color: white;
  margin-top: -1rem;
}
.discountPic {
  width: 70vw;
}
.discountAccessories {
  display: none;
}
.bannerEveryday {
  background-color: #c6a308;
  text-align: center;
  color: white;
  padding: 0.2rem;
  margin: 0;
}

/* mailinglist */
.mailinglistCont {
  margin: 0 auto;
  text-align: center;
}
.mailinglist {
  width: 85%;
  border-color: #fcfafa;
  border-style: solid;
  border-width: 0.3rem;
  margin: 1rem 0 3rem 0;
}

/* Categories */
.categoryCont {
  width: 95vw;
  margin: 0.5rem;
  margin: 0 auto;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
.sqicon1,
.sqicon2,
.sqicon3,
.sqicon4,
.sqicon5 {
  width: 5rem;
  margin: 0 auto;
  padding: 0.4rem;
}
.sofaCont,
.lampCont,
.tableCont,
.accessCont,
.homeOfficeCont {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0.1rem 0 0.1rem 0;
  margin: 0.5rem 0 0.5rem 0;

  background-color: rgba(211, 211, 205, 0.3);
  color: rgb(60, 60, 60);
  margin-bottom: 1.5rem;
}
.copyCont {
  align-self: center;
}
.sofaSQCopy,
.lampSQCopy,
.tableSQCopy,
.accessSQCopy,
.homeOfficeSQCopy {
  font-size: 0.7rem;
  padding-left: 0.4rem;
  font-style: italic;
}
.viewItem {
  font-size: 0.6rem;
  padding-left: 0.4rem;
  font-family: "Times New Roman", Times, serif;
}

/* Seau de Boue intro */
.welcomeCont {
  background-image: url("../images/armchair-4787933_1280.jpg");
  width: 90%;
  min-height: 35vw;
  height: auto;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 4rem;
}
.overlay {
  background-color: rgb(60, 60, 60, 0.4);
  min-height: 35vw;
  height: 80vh;
}
.welcomeHeader {
  text-align: center;
  color: white;
  font-weight: 400;
  font-size: 1.4rem;
  margin-bottom: 0;
  font-family: "Times New Roman", Times, serif;
  align-self: center;
}
.introCont {
  display: grid;
  height: 100%;
}
.intro {
  font-size: 0.7rem;
  padding: 1rem;
  padding-top: 2rem;
  font-weight: 400;
  text-align: center;
  color: white;
  margin: 0;
  width: 80%;
  margin: 0 auto;
}
.buttonToTop {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 6rem;
}
.backToTopButton {
  background-color: rgb(60, 60, 60);
  color: white;
  border: none;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 400;
  padding: 0.4rem;
  width: 7rem;
  margin: 0 auto;
  border-radius: 0.2rem;
}

/*  mobile landscape */
@media (max-width: 940px) and (orientation: landscape) {
  .roomMobCont img,
  .diningRoomMobCont img,
  .salesBanner img,
  .heroCont img {
    height: 80vh;
    width: auto;
    align-self: center;
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .heroCont {
    background-color: rgb(184, 187, 187);
  }
  .mailinglist {
    width: 70vw;
  }
  .carouselInner {
    width: 50%;
  }
}

/* for desktop */
@media (min-width: 46rem) {
  .mainHero {
    display: grid;
    grid-gap: 0.2rem;
    grid-template-columns: 3fr 1fr;
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 4rem;
  }
  .heroCont {
    height: 100%;
    width: 100%;
  }
  .deskMainHeaderPic {
    display: block;
    width: 100%;
    height: auto;
  }
  .subHeaderCont {
    display: block;
    width: 100%;
    background-image: url("../images/mainRT.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0.25rem 0rem 0.4rem 0 rgb(93, 91, 91);
  }
  .mainHeaderPic {
    display: none;
  }

  .subCopy {
    display: block;
    color: white;
    width: 100%;
    margin: auto;
    font-size: 0.8rem;
    text-align: center;
    position: relative;
    top: 30%;
    font-weight: bold;
  }
  .subCopy2 {
    position: relative;
    top: 40%;
    width: 70%;
    color: white;
    margin: auto;
    text-align: center;
    font-size: 0.7rem;
  }

  /* Main Rooms */
  .furnHeader {
    width: 90%;
    margin: 0 auto;
    padding-left: 0;
    padding-bottom: 1.5rem;
  }
  .mainRoomsContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    width: 90%;
    margin: 0 auto;
  }
  .roomMobCont {
    width: 100%;
    margin: 0 auto;
  }
  .roomPicMob {
    width: 100%;
  }
  .shopNow {
    margin-bottom: 0;
  }

  /* Sales Banner */
  .salesBanner {
    width: 60%;
    height: auto;
    margin: 0 auto;
    background-image: none;
    margin-top: 5rem;
    margin-bottom: 8rem;
    transform: rotate(-7deg);
  }
  .salesBannerCopy {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
    border-radius: 1rem;
    box-shadow: 1rem 0.9rem 2rem 0.1rem #757474;
  }
  .superSale {
    display: none;
  }
  .discountPic {
    width: 80%;
    padding: 0.5rem;
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: center;
    margin-left: 1rem;
  }
  .disAccCont {
    grid-column: 2/3;
    display: block;
    flex-direction: row-reverse;
    margin-bottom: -0.3rem;
  }

  .discountAccessories {
    display: inline;
    width: 100%;
    border-radius: 0 1rem 1rem 0;
    padding: 0;
  }

  .bannerEveryday {
    display: none;
  }

  /* mailinglist */
  .mailinglistCont {
    width: 40%;
    background-color: white;
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  .mailinglist {
    border: none;
  }

  /* Categories */
  .categoryCont {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    padding-bottom: 3rem;
  }
  .sqicon1,
  .sqicon2,
  .sqicon3,
  .sqicon4,
  .sqicon5 {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }
  .sofaCont,
  .lampCont,
  .tableCont,
  .accessCont,
  .homeOfficeCont {
    display: block;
    margin-left: 0;
    margin-right: 0;
    background-color: none;
    width: 100%;
  }

  .sofaSQCopy,
  .lampSQCopy,
  .tableSQCopy,
  .accessSQCopy,
  .homeOfficeSQCopy {
    font-size: 0.7rem;
    padding-left: 0.4rem;
    font-style: italic;
  }
  /* Seau de Boue intro */

  .welcomeHeader {
    font-size: 2rem;
    padding-top: 3rem;
  }
  .introCont {
    height: 70%;
    align-items: center;
  }

  .intro {
    font-size: 1rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
