/* Hero Section Styles */
.heroCont {
  width: 95%;
  margin: 1rem auto; /* Combined margin properties */
}

.livingRoomHeroPic {
  width: 100%;
  margin: 0 auto;
}

/* Sub Header Styles */
.subHeaderCont {
  width: 90%;
  margin: 0 auto;
  border-bottom: 0.08rem solid gray; /* Combined border properties */
}

.subCopy {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(60, 60, 60);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.subCopy2 {
  text-align: center;
  font-size: 0.8rem;
  color: rgb(60, 60, 60);
  width: 70%;
  margin: 0 auto;
  margin-bottom: 2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* Product List Styles */
.productListCont {
  margin-top: 2rem;
  width: 90%;
}

.productGrid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
}

.listItem {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 2rem auto;
  border-bottom: 0.08rem solid gray;
  margin-top: 2rem;
  height: 90%;
}

.listImages {
  width: 100%;
  height: 4rem;
  margin: 0 auto;
}

.itemTitle {
  font-size: 0.7rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  width: 90%;
  color: rgb(60, 60, 60);
  padding-left: 0.5rem;
  margin: 0.3rem 0 0;
}

.listItemCopy {
  font-size: 0.5rem;
  object-fit: cover;
  color: rgb(60, 60, 60);
  text-align: center;
  width: 90%;
}

.buttonToTop {
  margin: 0 auto;
  width: 90%;
  text-align: center;
  margin-top: 4rem;
}
.backToTopButton {
  background-color: rgb(60, 60, 60);
  color: white;
  border: none;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 400;
  padding: 0.4rem;
  width: 7rem;
  color: white;
  margin: 0 auto;
}

/* Mailing List Styles */
.mailinglistCont {
  margin: 0 auto;
  text-align: center;
  margin-top: 3rem;
  /* background-color: #b50e0e; */
}

.mailinglist {
  width: 75%;
  margin: 1rem 0 3rem;
}

/* Mobile Landscape Styles */
@media (max-width: 844px) and (orientation: landscape) {
  .productListCont {
    margin: 0 auto;
  }

  .listItem {
    padding-bottom: 1rem;
  }

  .listImages {
    width: auto;
    height: 100%;
    margin: 0 auto;
  }

  .itemTitle,
  .listItemCopy {
    margin: 0 auto;
    text-align: center;
    width: 50%;
  }

  .mailinglist {
    width: 60vw;
  }
}
/* for desktop */
@media (min-width: 1024px) {
  .heroCont {
    width: 90%;
  }
  .subHeaderCont {
    margin-bottom: 5rem;
  }
  /* Product List Styles */
  .productListCont {
    margin: 0 auto;
    width: 90%;
  }

  .productGrid {
    padding-left: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }

  .listItem {
    display: block;
    margin-top: 0;
    border-bottom: none;
  }

  .listImages {
    height: 90%;
    margin: 0 auto;
  }
  .itemTitle {
    border-bottom: 0.08rem solid gray;
    width: 98%;
    padding-bottom: 0.2rem;
  }

  .listItemCopy {
    text-align: left;
    padding-left: 0.5rem;
  }

  /* Mailing List Styles */
  .mailinglistCont {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }

  .mailinglist {
    width: 40%;
  }
}
