.productsCont {
  /* background-color: peachpuff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr;*/

  display: grid;
  grid-template-rows: 12rem 1fr;
  grid-template-columns: 100%;
  grid-template-areas: "productsHero" "productsCont";
  /* min-height: 100%; */
}

.heroCont {
  /* width: auto; */
  /* height: 12rem; */
  background-color: aqua;
  /* position: relative; */
  /* display: flex; */
  /* min-height: 400px; if you prefer */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  height: 12rem;
  background: linear-gradient(rgba(0, 0, 0, 0.327), rgba(0, 0, 0, 0.3)),
    url("../images/dTMain_869.png"), url("../images/dTMain.png");
  /* background-size: fill; */
  /* background-position: 0 20%; */
  background-position: 100% 25%, 100% 0%;
  background-repeat: no-repeat, repeat;
  /* background-color: black; */
  /* background-blend-mode: multiply; */
  /* mix-blend-mode: soft-light; */
}

.heroCont img {
  display: block;
  width: 100%;
  height: auto;
}

.heroTitle {
  font-size: 2.5rem;
  color: white;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}
.productsHero {
  grid-area: productsHero;
  /* background-color: red; */
}

.productsCont {
  grid-area: productsCont;
  background-color: blueviolet;
}
